<div class="edit-form">
  <h3>{{ badanie.id ? 'Edytuj badanie' : 'Dodaj badanie' }}</h3>
  <form (ngSubmit)="submitForm()">
    <label>Nazwa:</label>
    <input [(ngModel)]="badanie.nazwa" name="nazwa" required>

    <label>Cennik:</label>
    <input type="number" [(ngModel)]="badanie.cennik" name="cennik" required>

    <label>Specjalizacja:</label>
    <input [(ngModel)]="badanie.specjalizacja" name="specjalizacja" required>

    <div class="actions">
      <button type="submit">Zapisz</button>
      <button type="button" (click)="cancel.emit()">Anuluj</button>
    </div>
  </form>
</div>
